name: Metrics

on:
    schedule: [{cron: "0 * * * *"}]
    workflow_dispatch: { }
    push: {branches: ["master"]}

jobs:
    github-metrics:
        runs-on: ubuntu-latest
        steps:
          - uses: lowlighter/metrics@master
            with:
                token: ${{ secrets.METRICS_TOKEN }}
                user: thatmg393
                template: classic
                base: header, activity, community, repositories
                plugin_achievements: yes
                plugin_achievements_display: detailed
                plugin_habits: yes
                plugin_habits_facts: yes
                plugin_introduction: yes
                plugin_introduction_title: yes
                plugin_languages: yes
                plugin_activity: yes
